<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebBanGiay.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> <!-- Font Awesome 6 for icons -->
    <script src="https://kit.fontawesome.com/9d49fa6fd3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <!-- Logo or Title -->
                <i class="fas fa-shoe-prints fa-2x text-primary me-2"></i> <!-- Logo icon -->
                <a class="navbar-brand fs-3 fw-bold text-primary" href="/employee/Product">Employee</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Employee/Product">
                                <i class="fas fa-box"></i> Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Employee/User">
                                <i class="fas fa-box"></i> User
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Employee/Home/OrderList">
                                <i class="fa-solid fa-dollar-sign"></i> Thống kê
                            </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-md-12">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @RenderSection("ProductIndex", required: false)
                    @RenderBody()
                </div>
            </div>
        </main>

        <!-- PartialView hoặc ViewComponent để hiển thị danh sách người dùng -->

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - VKATSneaker </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- thư viện jQuery UI Autocomplete -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- thư viện jQuery UI Autocomplete -->
    <script>
        $(function () {
            $("#txtSearch").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("AutoComplete", "Home")',
                        type: "POST",
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.label, value: item.value };
                            }));
                        }
                    });
                },
                minLength: 1
            }).keydown(function (event) {
                if (event.keyCode === $.ui.keyCode.TAB && $("#txtSearchPlaceholder").val() !== '') {
                    event.preventDefault();
                    $(this).val($("#txtSearchPlaceholder").val());
                    $("#txtSearchPlaceholder").val('');
                }
            });
        });
    </script>
</body>
</html>
